<div class="row wrapper bg-color">
    <form name="businessForm" class="form-horizontal padder-v edit-page" novalidate>
        <div class="form-group">
            <label class="control-label"><i>*</i>会员姓名：</label>
            <input type="text" class="form-control" name="memberName" ng-model="member.name"
                   maxlength="20" ec-focus required>
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i>类型：</label>
            <select class="form-control" name="memberType" ng-model="member.type"
                    ng-options="item.id as item.name for item in memberTypes"></select>
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i>买入数量：</label>
            <input type="text" class="form-control" name="amount" ng-model="member.purchaseAmount">
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i>购买成本：</label>
            <input type="text" class="form-control" name="cost" ng-model="member.cost">
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i>买入日期：</label>
            <input type="text" class="form-control no-background-color" placeholder="请选择"
                   ng-click="pDateCtrl.IsDateStart = true;pDateCtrl.IsDateEnd=false" datepicker-options="{closeTimer:true}"
                   datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="member.purchaseDate"
                   is-open="pDateCtrl.IsDateStart" close-text="关闭" >
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i>最新价格：</label>
            <input type="text" class="form-control" name="lastestPrice" ng-model="member.lastestPrice">
        </div>
        <div class="form-group">
            <label class="control-label">转让日期：</label>
            <input type="text" class="form-control" name="transferDate" ng-model="member.transferDate">
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i>回购日期：</label>
            <input type="text" class="form-control no-background-color" placeholder="请选择"
                   ng-click="rDateCtrl.IsDateStart = true;rDateCtrl.IsDateEnd=false" datepicker-options="{closeTimer:true}"
                   datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="member.buyBackDate"
                   is-open="rDateCtrl.IsDateStart" close-text="关闭" >
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i>最低回购价：</label>
            <input type="text" class="form-control" name="buyBackPrice" ng-model="member.buyBackPrice">
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i>年收益率：</label>
            <input type="text" class="form-control" name="annualYield" ng-model="member.annualYield">
        </div>
        <div class="form-group">
            <label class="control-label">积分：</label>
            <input type="text" class="form-control" name="point" ng-model="member.point">
        </div>
        <div class="form-group">
            <label class="control-label">业绩奖励：</label>
            <input type="text" class="form-control" name="award" ng-model="member.award">
        </div>
        <div class="form-group">
            <label class="control-label">盈亏提现：</label>
            <input type="text" class="form-control" name="withdraw" ng-model="member.withdraw">
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <button type="button" class="btn btn-md btn-success m-r-sm"
                    ng-click="addMember(businessForm.$valid)">提交
            </button>
        </div>
    </form>

</div>
