<div class="row content-title">
    <div ec-path-info></div>
</div>
<div class="row wrapper bg-color">
    <div tabset type="tab-bar">
        <div tab heading="企业列表" active="activeFlag[0]">
            <div class="padder-v clearfix">
                <div class="col-xs-12 no-padder table-toolbar clearfix">
                    <div class="pull-right btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-success" ng-click="search()" title="刷新">
                            <i class="ec ec-refresh"></i>
                        </button>
                    </div>
                    <div class="search-bar">
                        <button type="button" class="btn btn-stamp"
                                ng-click="SearchControl.IsAdvance= !SearchControl.IsAdvance">
                            高级<br>搜索
                        </button>
                    </div>
                    <div class="input-bar">
                        <div class="input-group clearfix">
                            <input type="text" class="form-control" placeholder="请输入商户名称"
                                   ng-model="Condition.CompanyName">
                            <span class="input-group-addon" ng-click="search()">搜索</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-horizontal advance-search" ng-show="SearchControl.IsAdvance">
                    <div class="col-xs-10">
                        <div class="search-cell clearfix">
                            <label class="control-label">商户编号：</label>
                            <input type="text" class="form-control" placeholder="请输入商户编号"
                                   ng-model="Condition.OrgId">
                        </div>
                        <div class="search-cell clearfix">
                            <label class="control-label">商户名称：</label>

                            <input type="text" class="form-control" placeholder="请输入商户名称"
                                   ng-model="Condition.CompanyName">
                        </div>
                        <div class="search-cell clearfix">
                            <label class="control-label">审核状态：</label>

                            <select class="form-control" ng-model="Condition.AuditState"
                                    ng-options="item.Id as item.Name for item in stateList">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2 text-left search-panel">
                        <button class="btn btn-success btn-sm m-r-sm" ng-click="search(1)">确定</button>
                        <button class="btn btn-default btn-sm" ng-click="clear()">清空</button>
                    </div>
                    <div class="hide-advance" ng-click="SearchControl.IsAdvance=false" title="收起搜索栏">
                        <i class="ec ec-arrow-line"></i> 收起
                    </div>
                </div>
                <table class="col-xs-12 table table-fixed m-t">
                    <thead>
                    <tr>
                        <th width="15%">商户编号</th>
                        <th width="30%">商户名称</th>
                        <th width="15%">联系人</th>
                        <th width="15%">联系电话</th>
                        <th width="10%">审核状态</th>
                        <th width="15%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="businessList.length == 0">
                        <td colspan="6" class="text-center">暂无记录</td>
                    </tr>
                    <tr ng-repeat="item in businessList track by $index">
                        <td>{{item.OrgId}}</td>
                        <td class="overflow-dots">{{item.CompanyName}}</td>
                        <td>{{item.LinkMan}}</td>
                        <td>{{item.LinkManTel}}</td>
                        <td>{{auditState[item.AuditState]}}</td>
                        <td>
                            <button class="btn btn-operate" ng-if="item.AuditState==1" ng-click="pass($index)">
                                同意
                            </button>
                            <button class="btn btn-operate" ng-if="item.AuditState==1" ng-click="reject($index)">
                                拒绝
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-xs-12 pagination-p">
                    <div ec-page-info ng-model="pageInfo" ec-refresh="search()"></div>
                </div>
            </div>
        </div>
    </div>
</div>