<div class="row wrapper bg-color">
    <form name="businessForm" class="form-horizontal padder-v edit-page" novalidate>
        <div class="form-group">
            <label class="control-label">商户名称：</label>
            <div class="text-message">
                {{business.CompanyName}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">统一社会信用代码：</label>
            <div class="text-message">
                {{business.UnifiedSocialCreditcode||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">法人姓名：</label>
            <div class="text-message">
                {{business.LegalName||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">证件号码：</label>
            <div class="text-message">
                {{business.IDCardNo||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">联系人：</label>
            <div class="text-message">
                {{business.LinkMan1||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">手机：</label>
            <div class="text-message">
                {{business.LinkManTel1||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">固定电话：</label>
            <div class="text-message">
                {{business.CompanyTel||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">邮编：</label>
            <div class="text-message">
                {{business.Zip||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">商户地址：</label>
            <div class="text-message">
                {{business.CompanyAreaName+business.Address||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">所属行业分类：</label>
            <div class="text-message">
                {{business.EntSortName||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">经营类型：</label>
            <div class="text-message" >
                {{business.BusinessModelName||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">经营规模：</label>
            <div class="text-message" ng-if="!!business.CompanyScale">
                {{business.CompanyScale}} 万元
            </div>
            <div class="text-message" ng-if="!business.CompanyScale">暂无</div>
        </div>
        <div class="form-group">
            <label class="control-label">权限模板：</label>
            <div class="text-message">
                {{business.ModuleTempletName||'暂无'}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <button type="button" class="btn btn-md btn-success" ng-click="goBack()">返回</button>
        </div>
    </form>
</div>
