<div class="row wrapper bg-color member-detail">
    <div class="title-panel m-b">
        <i class="ec ec-clip"></i>会员个人中心
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <span>账号：900001</span>
        </div>
        <div class="col-xs-4">
            <span>姓名：张董事长</span>
        </div>
        <div class="col-xs-4">
            <span>代码：690891</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <span>类型：劣后级</span>
        </div>
        <div class="col-xs-4">
            <span>数量：20000000</span>
        </div>
        <div class="col-xs-4">
            <span>成本：0.5</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <span>买入日期：2017-4-15</span>
        </div>
        <div class="col-xs-4">
            <span>投资金额：100000000</span>
        </div>
        <div class="col-xs-4">
            <span>最新价格：2.5</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <span>最新转让日期：2017-4-1</span>
        </div>
        <div class="col-xs-4">
            <span>当前价值：500000000</span>
        </div>
        <div class="col-xs-4">
            <span>亏盈：400000000</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <span>盈亏比例：400%</span>
        </div>
        <div class="col-xs-4">
            <span>回购日期：2017-12-30</span>
        </div>
        <div class="col-xs-4">
            <span>最低回购价：100000000</span>
        </div>
    </div>
</div>
<div class="row wrapper bg-color member-detail">
    <div class="title-panel m-b">
        <i class="ec ec-favorite"></i>会员收益概况
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <span>昨日收益：4000</span>
        </div>
        <div class="col-xs-4">
            <span>当月累计收益：+30000000</span>
        </div>
        <div class="col-xs-4">
            <span>积分：+3000</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <span>年收益率：8.8%</span>
        </div>
        <div class="col-xs-4">
            <span>投资收益率：9.9</span>
        </div>
        <div class="col-xs-4">
            <span>业绩奖励：+3000</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4">
            <span>盈亏提现：-300</span>
        </div>
        <div class="col-xs-4">
            <span>总提现金额：30000000</span>
        </div>
    </div>
    <div  class="col-xs-12 m-t-lg">
        <button type="button" class="btn btn-md btn-success m-r-sm" ng-click="goBack()">返回</button>
    </div>
</div>


