<div class="row content-title">
    <div ec-path-info></div>
</div>
<div class="row wrapper bg-color container-border">
    <div tabset type="tab-bar">
        <div tab heading="分类列表">
            <div class="padder-v clearfix class-group">
                <table class="col-xs-12 table table-fixed m-t">
                    <thead>
                    <tr>
                        <th width="100%">行业分类名称</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="parentBranch in branchList track by $index">
                        <tr class="cursor-pointer"
                            ng-click="selectBranch(parentBranch, true);">
                            <td class="p-l-xs">
                                <i class="base-color" ng-if="parentBranch.isParent"
                                    ng-class="{'ec ec-folder-open':parentBranch.isExpand, 'ec ec-folder-close':!parentBranch.isExpand}"></i>
                                <span class="m-l-sm"> {{parentBranch.Name}}</span>
                            </td>
                        </tr>
                        <tr class="cursor-pointer"
                            ng-repeat-start="childBranch in parentBranch.Children track by $index"
                            ng-if="parentBranch.isExpand"
                            ng-click="selectBranch(childBranch);">
                            <td class="p-l">
                                <i class="base-color" ng-if="childBranch.isParent"
                                    ng-class="{'ec ec-folder-open':childBranch.isExpand, 'ec ec-folder-close':!childBranch.isExpand}"></i>
                                <span class="m-l-sm"> {{childBranch.Name}}</span>
                            </td>
                        </tr>
                        <tr ng-repeat-end
                            ng-if="childBranch.isExpand"
                            ng-repeat="sonBranch in childBranch.Children track by $index">
                            <td class="p-l-md">
                                <span>{{sonBranch.Name}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>