<div class="menu-nav clearfix">
    <div class="header clearfix">
        <div class="short-link pull-left">
            <ul>
                <li>
                    <a ui-sref="app.workboard.main">
                        <i class="ec ec-home"></i>
                        首页
                    </a>
                </li>
            </ul>
        </div>
        <!--<div class="pull-right worker" ng-controller="TopBarCtrl">-->
            <!--<ul class="clearfix">-->
                <!--<li class="pull-left m-r-lg">-->
                    <!--<a ng-click="logout()">-->
                        <!--<i class="ec ec-exit"></i>退出-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
    <div class="main-nav">
        <div class="log-icon">
            <i class="ec ec-user-circle"></i>
        </div>
        <ul class="nav" ng-controller="MenuCtrl">
            <li ng-repeat="item in Menus">
                <a ng-class="{active:state.includes('{{item.State}}')}" ui-sref="{{item.State + '.main'}}">
                    <i class="{{item.Icon}}"></i><br>
                    {{item.Name}}
                </a>
            </li>
        </ul>
    </div>
</div>
