<div class="work-board clearfix m-t"  ng-if="!showNoticeDetail">
    <div class="left main-block">
        <div class="title-bar">
            <div>账号信息</div>
        </div>
        <div class="item-block login-msg clearfix" >
            <div class="pull-left user-profile">
                <i class="ec ec-user-circle"></i>
            </div>
            <ul class="pull-left">
                <!--<li>-->
                    <!--用户名称：{{personalInfo.LoginName}}-->
                <!--</li>-->
                <li>
                    公司代码：690891
                </li>
                <li>
                    公司名称：恒玖盈
                </li>
            </ul>
        </div>
    </div>
    <div class="right main-block">
        <div class="title-bar">
            <div>快捷操作</div>
        </div>
        <div class="item-block short-cut">
            <ul class="clearfix">
                <li>
                    <a ui-sref="app.business.add">
                        <i class="ec ec-m-merchant m-base-color"></i>
                        <p>新增会员</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
