<div class="module-config">
    <div class="shadow">
    </div>
    <div class="action">

        <button  class="btn btn-default btn-action" ng-click="up(slot.type,$index)"><i ng-hide="simple" class="fa fa-arrow-up"></i>上移</button>
        <button  class="btn btn-default btn-action" ng-click="down(slot.type,$index)"><i ng-hide="simple" class="fa fa-arrow-down"></i>下移</button>
        <button  class="btn btn-default btn-action" ng-click="edit(slot.type,$index)"><i ng-hide="simple" class="fa fa-edit"></i> 编辑</button>
        <button  class="btn btn-default btn-action" ng-click="remove(slot.type,$index)"><i ng-hide="simple" class="fa fa-remove"></i> 删除</button>
    </div>
</div>