// size
$basePadding: 10px;
$baseFontSize: 16px;
$miniFontSize: 12px;
$titleFontSize: 18px;
$baseLineHeight: 20px;
$farMargin: 15px;
$closeMargin: 10px;

//color
$mainColor:#DBBC84;
$warnColor:#F13533;
$baseColor: #ccc;
$titleColor: #2c3e50;


