<div class="login-top clearfix">
    <img src="assets/img/logo.png">
    <div class="title">获客网</div>
</div>
<div class="login-main padder-v bg-color">
    <div class="guide">
        <ul class="clearfix" ng-class="{'four-step':stepInfo.length == 4}">
            <li ng-class="{selected:$index==currentStep,past:$index<currentStep,last:$index == stepInfo.length-1}"
                ng-repeat="item in stepInfo" ng-click="selectStep($index)">
                <span class="line"></span>
                <span class="indicator">{{$index+1}}</span>
                <span class="step-name">
                    <span>{{item.desc}}</span>
                </span>
            </li>
        </ul>
    </div>
    <form class="form-horizontal" name="oneForgetPwdForm" ng-show="currentStep==0" novalidate>
        <div class="form-group">
            <label class="control-label"><i>*</i> 登录名称：</label>
            <input type="text" name="userName" class="form-control" ng-model="forgetPwdModel.LoginName"
                   required ec-focus ng-pattern="/^[0-9a-zA-Z\u4e00-\u9fa5\_]{2,30}$/" ng-focus="resetState()">
            <div class="msg-block"
                 ng-show="oneForgetPwdForm.userName.$dirty||(oneForgetPwdForm.userName.$invalid&&submitted)">
                <div class="success-msg"
                     ng-show="!isNoLoginName && oneForgetPwdForm.userName.$valid && !oneForgetPwdForm.userName.focused">
                    <i class="ec ec-check-circle"></i>
                </div>
                <div class="error-msg"
                     ng-show="!isNoLoginName && oneForgetPwdForm.userName.$error.required&& !oneForgetPwdForm.userName.focused">
                    <i class="ec ec-times-circle"></i>必填项，请填写
                </div>
                <div class="error-msg" ng-show="isNoLoginName && !oneForgetPwdForm.userName.focused">
                    <i class="ec ec-times-circle"></i>登录名称不存在
                </div>
                <div class="error-msg"
                     ng-show="!isNoLoginName && oneForgetPwdForm.userName.$error.pattern&&oneForgetPwdForm.userName.$dirty&&!oneForgetPwdForm.userName.focused">
                    <i class="ec ec-times-circle"></i>登录名称格式错误
                </div>
            </div>
        </div>
        <div class="form-group m-t-md">
            <label class="control-label"></label>
            <button type="button" ng-click="checkLoginName(oneForgetPwdForm.$valid)"
                    class="btn btn-md btn-primary m-r">下一步
            </button>
            <button type="button" ng-click="goLogin()" class="btn btn-md btn-default">取消</button>
        </div>
    </form>
    <form class="form-horizontal" name="twoForgetPwdForm" ng-show="currentStep==1" novalidate>
        <div class="form-group">
            <label class="control-label">登录名称：</label>
            <div class="text-message">{{forgetPwdModel.LoginName}}</div>
        </div>
        <div class="form-group">
            <label class="control-label">手机号码：</label>
            <div class="text-message">{{forgetPwdModel.Phone}}</div>
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i> 手机验证码：</label>
            <input type="text" class="form-control text-code m-r-sm" name="verifyCode" ng-model="forgetPwdModel.SmsCode"
                   required ng-pattern="/^\d{6}$/" ec-focus/>
            <input type="text" value="" class="form-control hide"/>
            <button ng-show="showed" class="btn btn-primary pull-left" ng-click="getSmsCode()">获取校验码</button>
            <button ng-show="!showed" class="btn btn-primary pull-left" ng-click="getSmsCode()"
                    ng-disabled="timeNext!=0">
                重新获取
                <span ng-show="timeNext!=0">({{timeNext}}s)</span>
            </button>
            <div class="msg-block"
                 ng-show="twoForgetPwdForm.verifyCode.$dirty||(twoForgetPwdForm.verifyCode.$invalid&&submitted)">
                <div class="success-msg"
                     ng-show="twoForgetPwdForm.verifyCode.$valid && !twoForgetPwdForm.verifyCode.focused">
                    <i class="ec ec-check-circle"></i>
                </div>
                <div class="error-msg"
                     ng-show="twoForgetPwdForm.verifyCode.$error.pattern&& !twoForgetPwdForm.verifyCode.focused">
                    <i class="ec ec-times-circle"></i>输入格式错误
                </div>
                <div class="error-msg"
                     ng-show="twoForgetPwdForm.verifyCode.$error.required && !twoForgetPwdForm.verifyCode.focused">
                    <i class="ec ec-times-circle"></i>必填项，请填写
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i> 新密码：</label>
            <input type="password" value="" class="form-control hide"/>
            <input type="password" name="newPWD" ng-model="forgetPwdModel.NewPassword" class="form-control"
                   required ec-focus ng-maxlength="20" ng-minlength="6" ec-same-number ec-seial-number/>
            <div class="msg-block"
                 ng-show="twoForgetPwdForm.newPWD.$dirty||(twoForgetPwdForm.newPWD.$invalid&&submitted)">
                <div class="success-msg"
                     ng-show="twoForgetPwdForm.newPWD.$valid && !twoForgetPwdForm.newPWD.focused">
                    <i class="ec ec-check-circle"></i>
                </div>
                <div class="help-msg"
                     ng-show="twoForgetPwdForm.newPWD.focused ">
                    <i class="ec ec-info-circle"></i>请输入6到20位大小写字母、数字或其他字符
                </div>
                <div class="error-msg"
                     ng-show="twoForgetPwdForm.newPWD.$error.required&& !twoForgetPwdForm.newPWD.focused">
                    <i class="ec ec-times-circle"></i>必填项，请填写
                </div>
                <div class="error-msg"
                     ng-show="twoForgetPwdForm.newPWD.$error.maxlength&& !twoForgetPwdForm.newPWD.focused">
                    <i class="ec ec-times-circle"></i>已超过最长20字符
                </div>
                <div class="error-msg"
                     ng-show="twoForgetPwdForm.newPWD.$error.minlength&& !twoForgetPwdForm.newPWD.focused">
                    <i class="ec ec-times-circle"></i>应输入至少6字符
                </div>
                <div class="error-msg"
                     ng-show="!twoForgetPwdForm.newPWD.$error.required&&
                         !twoForgetPwdForm.newPWD.$error.minlength&&twoForgetPwdForm.newPWD.$error.seialNumber&& !twoForgetPwdForm.newPWD.focused">
                    <i class="ec ec-times-circle"></i>密码不允许连续数字
                </div>
                <div class="error-msg"
                     ng-show="!twoForgetPwdForm.newPWD.$error.required&&!twoForgetPwdForm.newPWD.$error.maxlength&&
                         !twoForgetPwdForm.newPWD.$error.minlength&&twoForgetPwdForm.newPWD.$error.sameNumber&& !twoForgetPwdForm.newPWD.focused">
                    <i class="ec ec-times-circle"></i>密码不允许连续相同数字
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"><i>*</i> 确认新密码：</label>
            <input type="password" name="confirmPWD" ng-model="forgetPwdModel.ConfirmPassword"
                   class="form-control" ec-focus required/>
            <div class="msg-block"
                 ng-show="twoForgetPwdForm.confirmPWD.$dirty||(twoForgetPwdForm.confirmPWD.$invalid&&submitted)">
                <div class="success-msg"
                     ng-show="(forgetPwdModel.NewPassword == forgetPwdModel.ConfirmPassword) && twoForgetPwdForm.confirmPWD.$dirty && twoForgetPwdForm.confirmPWD.$valid && !twoForgetPwdForm.confirmPWD.focused">
                    <i class="ec ec-check-circle"></i>
                </div>
                <div class="error-msg"
                     ng-show="twoForgetPwdForm.confirmPWD.$error.required&& !twoForgetPwdForm.confirmPWD.focused">
                    <i class="ec ec-times-circle"></i>必填项，请填写
                </div>
                <div class="error-msg"
                     ng-show="(!!forgetPwdModel.ConfirmPassword) && (forgetPwdModel.NewPassword != forgetPwdModel.ConfirmPassword) && twoForgetPwdForm.confirmPWD.$dirty && !twoForgetPwdForm.confirmPWD.focused">
                    <i class="ec ec-times-circle"></i>输入不一致，请重新输入
                </div>
            </div>
        </div>
        <div class="form-group m-t-md">
            <label class="control-label"></label>
            <button type="button" ng-click="updatePwd(twoForgetPwdForm.$valid)"
                    class="btn btn-md btn-primary m-r">确定
            </button>
            <button type="button" ng-click="goLogin()" class="btn btn-md btn-default">取消</button>
        </div>
    </form>
</div>
