<div class="login-bg">
    <div class="login-head"></div>
    <div class="login-box clearfix">
        <div class="logo">
            <img src="assets/img/logo_login.png">
        </div>
        <div class="pull-left sys-name">
            管理端
        </div>
        <div class="pull-left login-form">
            <form class="form-horizontal" name="loginForm" novalidate>
                <div class="prompt-msg danger-color">
                    <label ng-if="failLogin && !showFormError">{{Message}}</label>
                    <label ng-if="showFormError">
                        <span ng-if="loginForm.userName.$error.required && !loginForm.userPassword.$error.required">请输入用户名</span>
                        <span ng-if="!loginForm.userName.$error.required && loginForm.userPassword.$error.required">请输入密码</span>
                        <span ng-if="loginForm.userName.$error.required && loginForm.userPassword.$error.required">请输入用户名和密码</span>
                        <span ng-if="loginForm.userName.$error.pattern&&loginForm.userName.$dirty&&!loginForm.userName.focused">用户名格式不正确</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">用户名：</label>
                    <input type="text" name="userName" class="form-control" ec-focus ng-model="user.LoginName" required
                           ng-pattern="/^[0-9a-zA-Z\u4e00-\u9fa5\_]{1,30}$/" ng-focus="resetMessage()">
                </div>
                <div class="form-group">
                    <label class="control-label">密&emsp;码：</label>
                    <input type="password" name="userPassword" class="form-control" ng-model="user.Password" required
                           ng-focus="resetMessage()">
                </div>
                <div class="prompt-msg">
                    <a class="pull-left" ng-click="goForgetPwd()">忘记密码？</a>
                    <a class="pull-right" ng-click="reset()">重置</a>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <button class="btn btn-login" ng-click="login(loginForm.$valid)" type="submit">
                        登录
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="login-foot">
        获客网
    </div>
</div>